{% include 'companyheader.html'%}

					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="w3layouts-banner">
				<div class="container">
					<section class="slider">
						<div class="flexslider">
							<ul class="slides">
								<li>
									<div class="agileits_w3layouts_banner_info">
										<h3>We are committed to the highest quality</h3>
										<p>Standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
									</div>
								</li>
								<li>
									<div class="agileits_w3layouts_banner_info">
										<h3>Our company can boast the reputation</h3>
										<p>Standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
									</div>
								</li>
								<li>
									<div class="agileits_w3layouts_banner_info">
										<h3>Our company can boast the reputation</h3>
										<p>Standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book</p>
									</div>
								</li>
							</ul>
						</div>
				</section>
			<!-- flexSlider -->
				<script defer src="/static/js/jquery.flexslider.js"></script>
				<script type="text/javascript">
					$(window).load(function(){
					  $('.flexslider').flexslider({
						animation: "slide",
						start: function(slider){
						  $('body').removeClass('loading');
						}
					  });
					});
				</script>
			<!-- //flexSlider -->
				</div>
			</div>
		</div>
	</div>
<!-- //banner -->
<!-- Specialize-section -->
			<div class="w3-about text-center">
				<div class="container">
					<h2 class="w3ls_head">Welcome</h2>
					<p class="para">Lorem Ipsum is simply dummy text <span> type setting industry</span> esse cillum dolore eu 
					fugiat nulla pariatur. Excepteur sint occaecat.</p>
					<div class="w3-ab-top">
						<div class="col-md-4 w3l-abt-grid">
							<div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
								<a href="#" class="hi-icon icon1"><i class="fa fa-cog" aria-hidden="true"></i></a>
							</div>
							<h4>Metal Shearing</h4>
							<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
						</div>
						<div class="col-md-4 w3l-abt-grid-1">
							<div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
								<a href="#" class="hi-icon icon2"><i class="fa fa-sun-o" aria-hidden="true"></i></a>
							</div>
							<h4>Steel Cladding</h4>
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered in some, by injected humour.</p>
						</div>
						<div class="col-md-4 w3l-abt-grid-2">
							<div class="hi-icon-wrap hi-icon-effect-7 hi-icon-effect-7b">
								<a href="#" class="hi-icon icon3"><i class="fa fa-gift" aria-hidden="true"></i></i></a>
							</div>
							<h4>Delivery & Erection</h4>
							<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of Latin literature from 45 BC, making.</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
	<!-- //Specialize-section -->
	<!-- news -->
	<div class="services news">
		<div class="container"> 
				<div class="new-w3l">
					<h3 class="w3ls_head">News & Events</h3>
					<p class="para">Lorem Ipsum is simply dummy text <span> type setting industry</span> esse cillum dolore eu 
					fugiat nulla pariatur. Excepteur sint occaecat.</p>			
				</div>
			<div class="news-agileinfo">
				<div class="col-sm-4 news-w3lgrids">
					<div class="news-gridtext">
						<div class="news-w3img">
							<a href="#" data-toggle="modal" data-target="#myModal"><img src="/static/images/s11.jpg" class="img-responsive zoom-img" alt=""/></a>
						</div>
						<div class="news-w3imgtext">
							<h5 class="w3-agilep">MAR 12, 2017 </h5>
							<h4><a href="#" data-toggle="modal" data-target="#myModal">Fringilla</a></h4> 
							<p>In dignissim nunc curabitur eleifend orci eu sapien imperdiet tempus.</p>
							</div>
					</div>
				</div>
				<div class="col-sm-4 news-w3lgrids">
					<div class="news-gridtext">
						<div class="news-w3img">
							<a href="#" data-toggle="modal" data-target="#myModal"><img src="/static/images/s10.jpg" class="img-responsive zoom-img" alt=""/></a>
						</div>
						<div class="news-w3imgtext">
							<h5 class="w3-agilep">MAR 4, 2017</h5>
							<h4><a href="#" data-toggle="modal" data-target="#myModal">Fringilla</a></h4> 
							<p>Curabitur eleifend orci eu sapien imperdiet tempus dignissim nunc.</p>
							</div>
					</div>
				</div>
				<div class="col-sm-4 news-w3lgrids">
					<div class="news-gridtext">
						<div class="news-w3img">
							<a href="#" data-toggle="modal" data-target="#myModal"><img src="/static/images/s12.jpg" class="img-responsive zoom-img" alt=""/></a>
						</div>
						<div class="news-w3imgtext">
							<h5 class="w3-agilep">MAR 21, 2017</h5>
							<h4><a href="#" data-toggle="modal" data-target="#myModal">Sectetur</a></h4> 
							<p>Morbi a vehicula risus, vitae interdum orci Praesent acelei turpis.</p> 
							</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //news --> 
<!-- testimonials -->
	<div class="testimonials">
		<div class="container"> 
			<h3 class="w3ls_head">Testimonials</h3>
					<p class="para">Lorem Ipsum is simply dummy text <span> type setting industry</span> esse cillum dolore eu 
					fugiat nulla pariatur. Excepteur sint occaecat.</p>	
			<div class="testi-w3agileinfo"> 
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#testi" aria-controls="testi" role="tab" data-toggle="tab"><img src="/static/images/1.png" alt=""/></a></li>
					<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab"><img src="/static/images/3.png" alt=""/></a></li>
					<li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab"><img src="/static/images/2.png" alt=""/></a></li>
				</ul> 
				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="testi">
						<h5>FILAN FISTEKU</h5>
						<p>Donec libero dui, scelerisque ac augue id, tristique ullamcorper elit. Nam ultrices, lacus vitae adipiscing aliquet, metus ipsum imperdiet libero, vitae dignissim sapien diam ac nibh convallis.</p>
					</div>
					<div role="tabpanel" class="tab-pane" id="profile">
						<h5>ULLAMCORPER FILAN </h5>
						<p>Scelerisque ac augue id Donec libero dui, , tristique ullamcorper elit. Nam ultrices, lacus vitae adipiscing aliquet, metus ipsum imperdiet libero, vitae dignissim sapien diam ac nibh convallis.</p>
					</div>
					<div role="tabpanel" class="tab-pane" id="messages"> 
						<h5>SCELERISQUE AUGUE</h5>
						<p>Nam ultrices lacus vitae adipiscing aliquet, metus ipsum imperdiet libero, vitae dignissim sapientristique Donec libero dui, scelerisque ac augue id,  ullamcorper elit,diam ac nibh convallis.</p>
					</div>
				</div> 
			</div>
		</div>
	</div>
	<!-- //testimonials -->
<!-- subscribe -->
	<div class="sub-agileitsinfo">  
		<div class="subscribe wthree-sub"> 
			<div class="container">    
				<h3 class="w3ls_head">Subscribe Now</h3>
					<p class="para">Lorem Ipsum is simply dummy text <span> type setting industry</span> esse cillum dolore eu 
					fugiat nulla pariatur. Excepteur sint occaecat.</p>	
				<div class="subsc-agile">
					<form action="#" method="post"> 
						<input type="email" name="email" placeholder="Enter your Email..." required="">
						<input type="submit" value="Subscribe"> 
						<div class="clearfix"> </div>
					
					</form>
				</div>				
			</div>
		</div>
	</div>
	<!-- //subscribe -->
{% include 'footer.html'%}